<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="taskextension" name="Task Extension" schema="schema/taskextension.exsd"/>
   <extension
         id="helloview"
         name="Tasks"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.tasklist.internal.TaskListView"
            icon="task.png">
      </view>
   </extension>

</plugin>
